<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HelloWorldXML</servlet-name>
        <servlet-class>com.mycompany.firstservlet.HelloWorldXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuessColor</servlet-name>
        <servlet-class>com.mycompany.firstservlet.GuessColor</servlet-class>
        <init-param>
            <param-name>color</param-name>
            <param-value>green</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GuessColor2</servlet-name>
        <servlet-class>com.mycompany.firstservlet.GuessColor2</servlet-class>
        <init-param>
            <param-name>color</param-name>
            <param-value>green</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Advertisment</servlet-name>
        <servlet-class>com.mycompany.firstservlet.Advertisment</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>http://google.es</param-value>
        </init-param>        
    </servlet>
    <servlet>
        <servlet-name>AdvertismentRedirection</servlet-name>
        <servlet-class>com.mycompany.firstservlet.AdvertismentRedirection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>com.mycompany.firstservlet.Header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response</servlet-name>
        <servlet-class>com.mycompany.firstservlet.Response</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldXML</servlet-name>
        <url-pattern>/HelloWorldXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuessColor</servlet-name>
        <url-pattern>/GuessColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertisment</servlet-name>
        <url-pattern>/Advertisment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvertismentRedirection</servlet-name>
        <url-pattern>/AdvertismentRedirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuessColor2</servlet-name>
        <url-pattern>/GuessColor2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/Header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Response</servlet-name>
        <url-pattern>/Response</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
